In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

from tqdm import tqdm

In [2]:
ehr_data_dir = "/home/mengliang/DatasetFolder/mimiciv/2.2"

In [3]:
def list_files_in_directory(directory):
    try:
        # List all files in the given directory
        files = os.listdir(directory)
        
        # Filter out only files (excluding directories)
        files = [file for file in files if os.path.isfile(os.path.join(directory, file))]
        
        return files
    except FileNotFoundError:
        return f"Directory '{directory}' not found."
    except Exception as e:
        return str(e)
    
files = list_files_in_directory(os.path.join(ehr_data_dir, "icu"))
for i, file in enumerate(files):
    print(file)

procedureevents.csv.gz
chartevents.csv.gz
index.html
ingredientevents.csv.gz
outputevents.csv.gz
inputevents.csv.gz
caregiver.csv.gz
d_items.csv.gz
icustays.csv.gz
datetimeevents.csv.gz

### ICU stays

In [4]:
icu_icustays_path = os.path.join(ehr_data_dir, "icu/icustays.csv.gz")
df_icu_icustays = pd.read_csv(icu_icustays_path, index_col=False, compression="gzip")
df_icu_icustays.head()

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10000032,29079034,39553978,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2180-07-23 14:00:00,2180-07-23 23:50:47,0.410266
1,10000980,26913865,39765666,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2189-06-27 08:42:00,2189-06-27 20:38:27,0.497535
2,10001217,24597018,37067082,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-11-20 19:18:02,2157-11-21 22:08:00,1.118032
3,10001217,27703517,34592300,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-12-19 15:42:24,2157-12-20 14:27:41,0.948113
4,10001725,25563031,31205490,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2110-04-11 15:52:22,2110-04-12 23:59:56,1.338588

In [5]:
print(len(df_icu_icustays["subject_id"].unique()))
print(len(df_icu_icustays["hadm_id"].unique()))
print(len(df_icu_icustays["stay_id"].unique()))

print(df_icu_icustays.dtypes)

50920
66239
73181
subject_id          int64
hadm_id             int64
stay_id             int64
first_careunit     object
last_careunit      object
intime             object
outtime            object
los               float64
dtype: object

### Load discharge summary data

In [6]:
note_data_dir = "/home/mengliang/DatasetFolder/mimic-iv-note/2.2"

note_discharge_path = os.path.join(note_data_dir, "note/discharge.csv.gz")
df_note_discharge = pd.read_csv(note_discharge_path, index_col=False, compression='gzip')
df_note_discharge.head()

,note_id,subject_id,hadm_id,note_type,note_seq,charttime,storetime,text
0,10000032-DS-21,10000032,22595853,DS,21,2180-05-07 00:00:00,2180-05-09 15:26:00,\nName: ___ Unit No: _...
1,10000032-DS-22,10000032,22841357,DS,22,2180-06-27 00:00:00,2180-07-01 10:15:00,\nName: ___ Unit No: _...
2,10000032-DS-23,10000032,29079034,DS,23,2180-07-25 00:00:00,2180-07-25 21:42:00,\nName: ___ Unit No: _...
3,10000032-DS-24,10000032,25742920,DS,24,2180-08-07 00:00:00,2180-08-10 05:43:00,\nName: ___ Unit No: _...
4,10000084-DS-17,10000084,23052089,DS,17,2160-11-25 00:00:00,2160-11-25 15:09:00,\nName: ___ Unit No: __...

In [9]:
print(len(df_note_discharge))

331794

In [10]:
# combine icu stay and discharge note dataframes
icu_discharge_merged = pd.merge(df_icu_icustays, df_note_discharge, on=['subject_id', 'hadm_id'])
icu_discharge_merged.head()

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los,note_id,note_type,note_seq,charttime,storetime,text
0,10000032,29079034,39553978,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2180-07-23 14:00:00,2180-07-23 23:50:47,0.410266,10000032-DS-23,DS,23,2180-07-25 00:00:00,2180-07-25 21:42:00,\nName: ___ Unit No: _...
1,10000980,26913865,39765666,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2189-06-27 08:42:00,2189-06-27 20:38:27,0.497535,10000980-DS-21,DS,21,2189-07-03 00:00:00,2189-07-03 19:50:00,\nName: ___ Unit No: ___\n \nAdmi...
2,10001217,24597018,37067082,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-11-20 19:18:02,2157-11-21 22:08:00,1.118032,10001217-DS-4,DS,4,2157-11-25 00:00:00,2157-11-25 17:26:00,\nName: ___ Unit No: ___\n \n...
3,10001217,27703517,34592300,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-12-19 15:42:24,2157-12-20 14:27:41,0.948113,10001217-DS-5,DS,5,2157-12-24 00:00:00,2157-12-24 15:57:00,\nName: ___ Unit No: ___\n \n...
4,10001725,25563031,31205490,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2110-04-11 15:52:22,2110-04-12 23:59:56,1.338588,10001725-DS-12,DS,12,2110-04-14 00:00:00,2110-04-19 17:44:00,\nName: ___ Unit No: ___\n \nA...

In [11]:
print(len(icu_discharge_merged))
print(len(icu_discharge_merged["subject_id"].unique()))

72201
50253

In [12]:
# save the merged icu discharge report data to csv file
icu_discharge_merged.to_csv("outputs/icu_discharge_merged.csv.gz", 
                            compression="gzip", index=False)

In [ ]:
def get_readable_file_size(file_path):
    file_size = os.path.getsize(file_path)
    for unit in ['B', 'KB', 'MB', 'GB', 'TB']:
        if file_size < 1024:
            return f"{file_size:.2f} {unit}"
        file_size /= 1024
    

file_path = "outputs/icu_discharge_merged.csv.gz"
readable_file_size = get_readable_file_size(file_path)
print(f"File size: {readable_file_size}")

File size: 281.51 MB

In [14]:
df_example = icu_discharge_merged[icu_discharge_merged['hadm_id'] == 27882036]
df_example.head()

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los,note_id,note_type,note_seq,charttime,storetime,text
84,10012853,27882036,31338022,Trauma SICU (TSICU),Trauma SICU (TSICU),2176-11-26 02:34:49,2176-11-29 20:58:54,3.766725,10012853-DS-10,DS,10,2176-12-03 00:00:00,2176-12-03 13:41:00,\nName: ___ Unit No: _...

In [15]:
a = df_example.iloc[0,:]["text"]
print(a)

Name:  ___                     Unit No:   ___

Admission Date:  ___              Discharge Date:   ___

Date of Birth:  ___             Sex:   F

Service: MEDICINE

Allergies:
No Known Allergies / Adverse Drug Reactions

Attending: ___.

Chief Complaint:
Hypoxic and Hypercarbic Respiratory Failure, deep vein
thromboses

Major Surgical or Invasive Procedure:
None

History of Present Illness:
___ y/o F with atrial fibrillation on warfarin, PE, CKD III, PVD,
multinodular goiter s/p biopsy w/ possible follicular neoplasm
in ___ who was sent to ___ ED after being found to have L
jugular and subclavian venous thrombosis despite therapeutic INR
on warfarin. Patient found to have airway stenosis on CT
imaging, and s/s of hypercarbic respiratory failure, w/ABG
consistent w/acute on chronic hypercapnic respiratory failure,
sent to ICU for monitoring and further workup.


Past Medical History:
- T2DM (HbA1c 6.1% in ___, diet controlled)
- HLD
- CKD III
- PVD
- OA
- iron deficiency anemia
- paroxysmal atrial fibrillation
- pulmonary embolism
- stroke
- diverticulosis
- goiter (nontoxic multinodular)
- AAA (3.3 cm in ___, no further eval)
- cholelithiasis
- obesity
- lung nodules (as above)
- neurogenic bladder
- prolonged QT

Social History:
___
Family History:
Mother, aunt, and uncle all had CHF, unknown cause; no known hx
of CAD in her family. Daughter with heart arrhythmia on
amiodarone

Physical Exam:
Admission Physical Exam
======================
GENERAL: Patient pleasant and cooperative w/exam, and AAOx3,
falls asleep intermittently during exam.
HEENT: Sclera anicteric w/evidence of slight proptosis, MMM,
oropharynx clear
NECK: Large multinodular goiter on exam
LUNGS: Clear to auscultation bilaterally, no stridor at the
throat, no wheezes, rales, rhonchi
CV: Irregularly irregular rate and rhythm, normal S1 S2, ___ SEM
loudest at the mitral valve, no rubs, gallops
ABD: Soft, non-tender, non-distended, bowel sounds present, no
rebound tenderness or guarding, no organomegaly
EXT: Warm, well perfused, 2+ pulses, left upper extremity
w/increased edema versus right
SKIN: No visible rashes upper/lower extremities
NEURO:  as noted above, patient sleepy during exam

DISCHARGE PHYSICAL EXAM
========================
Vital Signs: 98.7  130/58 57 18 99% on 1L
GENERAL: Patient pleasant and cooperative w/exam, and AAOx3,
HEENT: Sclera anicteric w/evidence of slight proptosis, MMM,
oropharynx clear
NECK: Large multinodular goiter on exam
LUNGS: Clear to auscultation bilaterally, no stridor at the
throat, no wheezes, rales, rhonchi
CV: Irregularly irregular rate and rhythm, normal S1 S2, ___ SEM
loudest at apex, no rubs, gallops
ABD: Soft, non-tender, non-distended, bowel sounds present, no
rebound tenderness or guarding, no organomegaly
EXT: Warm, well perfused, 2+ pulses, left upper extremity
w/increased edema versus right.
SKIN: No visible rashes upper/lower extremities
NEURO: A&O x 3


Pertinent Results:
ADMISSION LABS:
===============================
___ 04:05AM BLOOD WBC-5.2 RBC-3.79* Hgb-9.3* Hct-32.2*
MCV-85 MCH-24.5* MCHC-28.9* RDW-19.9* RDWSD-58.3* Plt ___
___ 04:05AM BLOOD Neuts-70.9 Lymphs-12.6* Monos-13.0
Eos-2.1 Baso-0.8 Im ___ AbsNeut-3.65 AbsLymp-0.65*
AbsMono-0.67 AbsEos-0.11 AbsBaso-0.04
___ 04:05AM BLOOD ___ PTT-77.1* ___
___ 04:05AM BLOOD Glucose-113* UreaN-16 Creat-0.9 Na-143
K-3.8 Cl-105 HCO3-31 AnGap-11
___ 04:05AM BLOOD Calcium-8.2* Phos-3.4 Mg-1.9
___ 08:51PM BLOOD TSH-3.1
___ 08:51PM BLOOD T4-7.5
___ 01:52AM BLOOD Type-ART pO2-77* pCO2-74* pH-7.29*
calTCO2-37* Base XS-5
___ 08:56PM BLOOD Lactate-1.0

OTHER PERTINENT/DISCHARGE LABS
=================================
___ 07:53PM BLOOD CARDIOLIPIN ANTIBODIES (IGG, IGM)-
Negative
___ 04:05AM BLOOD Triglyc-35
___ 08:51PM BLOOD TSH-3.1
___ 08:51PM BLOOD T4-7.5
___ 07:53PM BLOOD TotProt-6.3*
___ 07:53PM BLOOD Lupus-NEG
___ 07:53PM BLOOD Thrombn-19.3*
___ 06:40PM BLOOD IPT-DONE

DISCHARGE LABS
=================
___ 07:40AM BLOOD WBC-4.6 RBC-3.84* Hgb-9.3* Hct-32.3*
MCV-84 MCH-24.2* MCHC-28.8* RDW-18.2* RDWSD-54.6* Plt ___
___ 07:40AM BLOOD ___ PTT-29.2 ___
___ 07:40AM BLOOD Glucose-80 UreaN-10 Creat-0.8 Na-142
K-4.5 Cl-99 HCO3-36* AnGap-12

IMAGING
===================
___ LENIs
No evidence of deep venous thrombosis in the left lower
extremity veins.

___ CT Chest w and wout
1.  No evidence of pulmonary embolism or acute aortic
abnormality.
2.  Multiple pulmonary nodules, the largest of which measures 7
mm.  If
clinically indicated, follow-up chest CT is suggested at ___
months.  If there
is no change, a second follow-up in ___ months and then at 24
months is
recommended if there is no change.
3.  Dilated main pulmonary artery likely reflective of pulmonary
arterial
hypertension.
4.  Markedly enlarged thyroid gland with mediastinal extension
and severe
narrowing of the trachea.
5.  Mild centrilobular emphysema.

CXR ___
1. Moderate pulmonary congestion and mild interstitial edema is
increased,
moderate right pleural effusion is new, and moderate left
basilar atelectasis is increased since ___, consistent
with acute CHF exacerbation. Large goiter, unchanged.

Ankle XR ___
FINDINGS:
No acute fracture or dislocation is detected about the left
ankle.  There is minimal spurring about the distal tibia, but no
other evidence of tibiotalar joint osteoarthritis.  The mortise
joint is congruent, without talar dome OCD. There is prominent
enthesophytic spurring along the posterior and inferior
calcaneus.  An ovoid density projects inferior to the fibula
measures 5 mm, of unclear etiology, potentially sequelae of
prior trauma.  Differential diagnosis could include a early
left, focus hydroxyapatite, or calcified lymph node.  No
suspicious lytic or sclerotic lesion is identified.  Vascular
calcifications are noted.

CT abdomen ___

1. No evidence of malignancy or metastatic disease within the
abdomen or
pelvis although residual high-density oral contrast and
associated artifact moderately limits evaluation of the large
bowel and pelvis.
2. Cholelithiasis without evidence of cholecystitis.
3. Intrahepatic and extrahepatic biliary dilation, which may
represent
previous gallstone passage.
4. Extensive atherosclerosis and infrarenal abdominal aortic
ectasia measuring maximally 31 mm.
5. Diverticulosis.


Brief Hospital Course:
___ y/o F with atrial fibrillation on warfarin, PE, CKD III, PVD,
multinodular goiter s/p biopsy w/ possible follicular neoplasm
in ___ who was sent to ___ ED after being found to have L
jugular and subclavian venous thrombosis despite therapeutic INR
on warfarin.

#Hypoxemia and Hypercapnic Respiratory Failure (Acute on
Chronic):
Patient w/new O2 requirement, hx of OSA, and ABG was consistent
with acute on chronic respiratory failure. Likely the patient's
stenosis of her airway from large goiter contributing. Also, may
have undiagnosed COPD given emphysematous changes on her CT scan
along with untreated OSA. Her elevated bicarbonate is suggestive
of a chronic process. She was transferred to the ICU on ___
for monitoring w/continuous O2 (88-92%) due to concerns about
airway compression and increasing oxygen requirement shortly
after her admission. ENT was consulted on ___ for evaluation
of any airway compromise and did not feel that any intervention
was warranted. She did not demonstrate any respiratory distress
at any time during her hospital stay. She was transferred to the
floor on the ___ and had continuous O2 monitoring. She also
continued to use BiPap with good effect at night. Bipap settings
were: EPAP 5 IPAP 15 O2 flow: 6

#LUE DVTs: Patient w/new onset DVTs despite therapeutic
warfarin. This is concerning for a coagulopathy. It is unclear
if this is inherited or acquired perhaps in the setting of
malignancy. No clear provoking symptoms. CT abdomen/pelvis was
negative for overt malignancy or metastases. Imaging did show
pulmonary nodules that will need to be followed up with repeat
imaging. Also, there is concern for malignancy related to her
multinodular thyroid. She is scheduled to follow up with her
endocrinologist regarding this. She was placed on enoxaparin 80
mg q12hr per hematology recommendations. Hematology/Oncology was
following her throughout admission as well.

#Gout. Patient had some left foot/ankle pain which impaired her
ability to walk. It improved after colchicine administration.
XRay of left foot was negative.

#Atrial Fibrillation: Has chronic atrial fibrillation, and
warfarin was discontinued as she developed upper extremity DVTs
with therapeutic INR. Lovenox was initiated. Amiodarone was at
first discontinued in the ICU, and then restarted on the floor.
She was discharged on her home dose of 100 daily. Her PR
interval was >200 and she was not considered a good candidate
for a beta blocker while in house.

#Coronary Artery Disease: Stable. Continued atorvastatin,
aspirin

#Hypertension: Stable. Continued home amlodipine, lisinopril

#Thyroid disease:Patient w/large goiter, and questionable effect
on trachea. Followed by ___ endocrinology. IP and ENT at ___
will consider intervention pending whether there is malignancy
within goiter, and overall patient prognosis. Methimazole was
continued. Thyroglobulin pending at discharge.  Abd/pelvic CT
without evidence of malignancy.

#MGUS: monoclonal IgG kappa represents only 1% of total protein.
The rest of it, and IgA, are polyclonal. Free kappa and lambda
light chains both slightly elevated, not worrisome for myeloma.
No further evaluation needed.

TRANSITIONAL ISSUES:
#She was followed by hem/onc atrius as inpatient: PCP can refer
her to Dr ___, ___ Heme, for further follow-up if deemed
appropriate.

# For the PCP: IP can offer her a joint procedure with ENT
regarding her large multinodular goiter and its impingement on
the trachea when it is clear whether there is malignancy present
or not, and what the overall prognosis of patient is. They can
certainly stent her trachea if it starts to compromise her
airway if that is within the patient goals of care. An
appointment in interventional pulmonology/compromised ___
clinic is being made for her at ___ to follow up this issue.

#Multiple pulmonary nodules, the largest of which measures 7 mm.
If clinically indicated, follow-up chest CT is suggested at ___
months. If there is no change, a second follow-up in ___ months
and then at 24 months is recommended if there is no change.

#Repeat FNA in 2 weeks with endocrinology. thyroglobulin pending
at discharge

#nightly bipap: EPAP 5 IPAP 15 O2 flow: 6

#Patient started on Lovenox 80 mg sc BID for UE DVT which
occurred while on warfarin

#Consider starting allopurinol for prevention of gout

-HCP: ___ (___) - ___
-Code: Full confirmed


Medications on Admission:
The Preadmission Medication list is accurate and complete.
1. Amiodarone 100 mg PO DAILY
2. Amlodipine 5 mg PO DAILY
3. Aspirin 81 mg PO DAILY
4. Atorvastatin 40 mg PO QPM
5. Calcium Carbonate 500 mg PO DAILY
6. Ferrous Sulfate 325 mg PO DAILY
7. Lisinopril 30 mg PO DAILY
8. Multivitamins 1 TAB PO DAILY
___  MD to order daily dose PO DAILY16
10. Methimazole 2.5 mg PO DAILY


Discharge Medications:
1. Amiodarone 100 mg PO DAILY
2. Amlodipine 5 mg PO DAILY
3. Aspirin 81 mg PO DAILY
4. Atorvastatin 40 mg PO QPM
5. Calcium Carbonate 500 mg PO DAILY
6. Lisinopril 30 mg PO DAILY
7. Methimazole 2.5 mg PO DAILY
8. Multivitamins 1 TAB PO DAILY
9. Enoxaparin Sodium 80 mg SC Q12H
Start: Today - ___, First Dose: Next Routine Administration
Time
10. Ferrous Sulfate 325 mg PO DAILY


Discharge Disposition:
Extended Care

Facility:
___

Discharge Diagnosis:
PRIMARY DIAGNOSIS
=================
Deep vein thrombosis
hypoxemic and hypercapnic respiratory failure secondary
gout flare

Secondary Diagnosis
====================
atrial fibrillation
coronary artery disease
hypertension
multinodular thyroid


Discharge Condition:
Mental Status: Clear and coherent.
Level of Consciousness: Alert and interactive.
Activity Status: Ambulatory - Independent.


Discharge Instructions:
Dear Ms. ___,
You were admitted to ___ for
swollen arms, and you were found to have clots in your arms even
though you were on Coumadin. Your medication, Coumadin was
changed to lovenox 80 mg twice a day. You were also started on
BiPAP at night to help your breathing at night. You should
continue to use this. You were also treated for a gout flare and
your foot feels improved.

Please keep your appointments with your urologist,
endocrinologist, and primary care physician. You will also need
to follow up with the lung doctors who were following you as an
inpatient.

It was a pleasure taking part in your care.
Your ___ Team

Followup Instructions:
___